<!DOCTYPE html>
<html>
<body>
  <h1>Edit post: {{ post.title }}</h1>
  <form action="{{ url_for('edit_post', post_id=post._id) }}" method="POST">
    หัวข้อ: <input type="text" name="title" value="{{ post.title }}"><br>
    เนื้อหา: <input type="text" name="body" value="{{ post.body }}"><br>
    <input type="submit" value="แก้ไขกระทู้">
  </form>
</body>
</html>
