<!DOCTYPE html>
<html>
<body>
  {% if user %}
    {{ user.full_name }} logged in. <a href="{{ url_for('logout') }}">Log out</a><br>
  {% else %}
    <a href="{{ url_for('login') }}">Log in</a>
  {% endif %}
  <h1>รวมกระทู้</h1>

  {% if user %}
    <a href="{{ url_for('new_post') }}">Create new post</a><br>
  {% endif %}

  <ul>
    {% for post in posts %}
      <li>
        {{ post.title }}
        {% if post.owner_username %}({{ post.owner_username }}){% endif %}

        [<a href="{{ url_for('show_post', post_id=post._id) }}">อ่านเพิ่ม</a>]

        {% if post.owner_username == user.username %}
          [<a href="{{ url_for('edit_post', post_id=post._id) }}">แก้ไข</a>]
          [<a href="{{ url_for('del_post', post_id=post._id) }}">ลบ</a>]
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</body>
</html>