<!DOCTYPE html>
<html>
<body>
  <h1>New post</h1>
  <form action="{{ url_for('new_post') }}" method="POST">
    หัวข้อ: <input type="text" name="title"><br>
    เนื้อหา: <input type="text" name="body"><br>
    <input type="submit" value="สร้างกระทู้">
  </form>
</body>
</html>
