<!DOCTYPE html>
<html>
<body>
  <h1>Post</h1>
  หัวข้อ: {{ post.title }}<br>
  เนื้อหา: {{ post.body }}<br>

  <br>

  <b>Comments</b>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.message }}</li>
    {% endfor %}  
  </ul>
  <form action="{{ url_for('add_comment', post_id=post._id) }}" method="POST">
    New comment: <input type="text" name="message">
    <input type="submit" value="เพิ่ม">
  </form>
  <br>

  [<a href="{{ url_for('index') }}">หน้าแรก</a>]
  [<a href="{{ url_for('edit_post', post_id=post._id) }}">แก้ไข</a>]
</body>
</html>